@font-face {
    font-family: "Manrope";
    src: url("./fonts/Manrope-ExtraLight.woff2") format("woff2"),
        url("./fonts/Manrope-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url("./fonts/Manrope-Medium.woff2") format("woff2"),
        url("./fonts/Manrope-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url("./fonts/Manrope-Bold.woff2") format("woff2"),
        url("./fonts/Manrope-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url("./fonts/Manrope-ExtraBold.woff2") format("woff2"),
        url("./fonts/Manrope-ExtraBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url("./fonts/Manrope-Light.woff2") format("woff2"),
        url("./fonts/Manrope-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url("./fonts/Manrope-Regular.woff2") format("woff2"),
        url("./fonts/Manrope-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url("./fonts/Manrope-SemiBold.woff2") format("woff2"),
        url("./fonts/Manrope-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Outfit";
    src: url("./fonts/Outfit-Black.woff2") format("woff2"),
        url("./fonts/Outfit-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Outfit";
    src: url("./fonts/Outfit-ExtraLight.woff2") format("woff2"),
        url("./fonts/Outfit-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Outfit";
    src: url("./fonts/Outfit-Regular.woff2") format("woff2"),
        url("./fonts/Outfit-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Outfit";
    src: url("./fonts/Outfit-ExtraBold.woff2") format("woff2"),
        url("./fonts/Outfit-ExtraBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Outfit";
    src: url("./fonts/Outfit-Light.woff2") format("woff2"),
        url("./fonts/Outfit-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Outfit";
    src: url("./fonts/Outfit-Medium.woff2") format("woff2"),
        url("./fonts/Outfit-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Outfit";
    src: url("./fonts/Outfit-SemiBold.woff2") format("woff2"),
        url("./fonts/Outfit-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Outfit";
    src: url("./fonts/Outfit-Bold.woff2") format("woff2"),
        url("./fonts/Outfit-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Outfit";
    src: url("./fonts/Outfit-Thin.woff2") format("woff2"),
        url("./fonts/Outfit-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

body {
    font-size: 20px;
    color: var(--black);
    background-color: var(--white);
    margin: 0;
    overflow-x: hidden;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

.container {
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    padding: 0 60px;
}

:root {
    --black: #201e1e;
    --lightblack: #171717;
    --lightgreen: #f6fafb;
    --white: #fefefe;
    --blue: #693edf;
    --lightgrey: #5d5d5d;
    --orange: #ff5252;
    --darkGray: rgba(23, 23, 23, 0.05)
}

/* background color class */

.bg_white {
    background: var(--white);
}

/********************* TYPOGRAPHY ********************/

a {
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    color: var(--black);
    font-family: "Urbanist", sans-serif;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    border: none;
    user-select: none;
    width: auto;
}

p,
li {
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    color: var(--black);
}

/* ******************header******************** */
#header {
    padding: 2% 0px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    z-index: 999;
}

.header-logo {
    max-width: 126px;
    height: 38px;
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header-menu {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.primary-menu {
    display: flex;
    align-items: center;
    padding: 16px 30px;
    column-gap: 50px;
}

.btn-ptn {
    display: flex;
    align-items: center;
    position: relative;
}

.header_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_right {
    flex: 1;
    display: flex;
    align-items: center;
}

.primary-menu a {
    color: inherit;
}

a.black_fill_arrow_btn {
    display: flex;
    align-items: center;
}

.black_fill_arrow_btn .btn-p {
    background-color: var(--black);
    border-radius: 100px;
    padding: 10px 24px;
    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-family: "Outfit";
}

.btn-arrow {
    display: flex;
    transition: all 0.5s ease-in-out 0s;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    translate: -6px;
    width: 60px;
    height: 60px;
    background-color: var(--black);
}

.black_fill_arrow_btn:hover .btn-arrow {
    translate: 6px;
    transform: rotate(45deg);
}

.arrow {
    width: 24px;
    height: 24px;
}

.menu-item-12 a {
    color: var(--lightblack);
    font-family: "Outfit";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

/* ***********************header-banner**************************** */

.Banner-section {
    height: 100vh;
    padding: 180px 0px;
    max-height: 800px;
    width: 100%;
}

.Banner-section-title_wrapper .cc-top {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1600p;
}

.Banner-section-heading-h1 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    column-gap: 30px;
    align-items: center;
    margin: 0 auto;
    font-family: "Outfit";
    font-size: 170px;
    font-weight: 500;
    line-height: 160px;
    color: var(--lightblack);
    text-transform: uppercase;
}

.banner-video {
    max-width: 447px;
    height: 120px;
    background-color: aqua;
    width: 100%;
}

.Banner-section-tags {
    position: relative;
}

.Banner-section-tag.cc-branding {
    left: -10px;
    top: 0px;
    position: absolute;
    transform: rotate(-13.4deg);
    padding: 8px 14px;
    border-radius: 4px;
    border-color: #ff5252;
    background: var(--orange);
}

.Banner-section-tag.cc-branding p {
    color: var(--white);
    font-family: "Outfit";
    font-size: 16px;
    text-transform: uppercase;
}

.Banner-section-tag.cc-digital {
    background-color: #ecffa0;
    bottom: 140px;
    border: none;
    position: absolute;
    border-radius: 4px;
    left: 67%;
    padding: 8px 12px;
    transform: rotate(9deg);
}

.Banner-section.cc-digital p {
    color: #181818;
    font-family: "Outfit";
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
}

.Banner-section-tag.cc-stage {
    background-color: var(--blue);
    bottom: 0px;
    left: auto;
    position: absolute;
    right: 90px;
    top: auto;
    border-radius: 4px;
    border: none;
    padding: 10px 16px;
    transform: rotate(-7.9deg);
}

.Banner-section-tag.cc-stage p {
    color: var(--white);
    font-family: "Outfit";
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
}

.Banner-section-subtext_container {
    width: 100%;
    max-width: 649px;
}

.paragraph-line {
    color: var(--lightblack);
    font-size: 24px;
    font-style: normal;
    font-family: "Manrope";
    font-weight: 300;
    line-height: 36px;
}

/* **********About-Sections******************** */

.About_section_ptn {
    padding: 4% 0px;
    background-color: var(--lightgreen);
    /* margin-bottom: 2rem; */
}

.About-inner-padding {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-doublee-img {
    max-width: 543px;
    height: 500px;
}

.union {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.About-left-ptn {
    width: 48.56%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.About-text-ptn {
    display: inline-block;
    width: 100%;
    max-width: 550px;
    color: var(--lightblack);
    font-family: "Outfit";
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    text-transform: capitalize;
    vertical-align: middle;
}

.smile {
    width: 70px;
    height: 70px;
    display: inline;
    vertical-align: middle;
}

.passage {
    color: var(--lightblack);
    font-family: "Manrope";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
    max-width: 600px;
}

.btn-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: var(--black);
}

.About-section-count {
    display: flex;
    max-width: 649px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-top: 5%;
}

.about-increment-ptn {
    display: flex;
    align-items: center;
    gap: 42px;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid #445964;
}

.about-increment-ptn strong {
    flex: 1;
    text-align: start;
}

.about-increment-ptn span {
    color: var(--lightblack);
    font-family: "Outfit";
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
}

.about-increment-ptn strong {
    color: var(--lightblack);
    font-family: "Manrope";
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
    max-width: 246px;
}

.horizontal {
    width: 100%;
    max-width: 649px;
    margin: 20px 0;
}

.About-section-count .about-increment-ptn:nth-child(3) {
    border-bottom: none;
}

.about-increment-ptn span {
    width: 33.92%;
}

/* *****************service-section*******************/
.Service-section-ptn {
    padding: 150px 0px;
    background-color: var(--white);
}

.Service-section-title-ptn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service-title-ptn {
    display: flex;
    justify-content: space-between;
}

.service-title-ptn h2 {
    color: var(--lightblack);
    font-family: "Outfit";
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
}

.Service-section-info {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

.content-service-data-ptn {
    display: flex;
    justify-content: space-between;
}

.double-arrow {
    max-width: 200px;
    height: 200px;
}

.double-arrow .Fram1 {
    width: 100%;
    height: 100%;
}

.title-content-ptn {
    display: flex;
    flex-direction: column;
    max-width: 665px;
    width: 42%;
    height: 132px;
    flex-shrink: 0;
}

.title-content-ptn h3 {
    color: var(--lightblack);
    font-family: "Outfit";
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
}

.title-passage {
    color: var(--lightblack);
    font-family: "Manrope";
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
    max-width: 665px;
    opacity: 0.7;
}

.Service-section-list ul li a {
    color: var(--lightblack);
    font-family: "Manrope";
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
    max-width: 665px;
    opacity: 0.7;
}

.Service-section-list {
    width: 18%;
}

/* *******************Our blog work***********************/
.our-blog-work {
    padding: 150px 0px;
    background-color: var(--white);
}

.our-blog-section-ptn h2 {
    color: var(--lightblack);
    font-family: "Outfit";
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
}

.our-blog-second-ptn {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.our-blog-card-ptn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
}

.inner-card-img {
    width: 649px;
    height: 649px;
    border-radius: 12px;
}

.inner-card-img .card-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.column-card-ptn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.gp-btn {
    display: flex;
    align-items: flex-start;
    gap: 5px;
}

.our-blog-btn-cont {
    display: flex;
    padding: 8px 20px;
    font-family: "Manrope";
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 1000px;
    border: 0.5px solid #5d5d5d;
}

.blog-countless a {
    color: var(--lightblack);
    font-family: "Outfit";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.our-blog-cardsecond-12 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    margin-top: -13%;
}

.inner-card-img-12 {
    width: 786px;
    height: 786px;
    border-radius: 12px;
}

.inner-card-img-12 .card-img_12 {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.our-blog-cntt-ptn {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.our-blog-card-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
}

.inner-card-img-wapper {
    width: 782px;
    height: 764px;
    border-radius: 12px;
}

.inner-card-img-wapper .card-img-wp {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.our-blog-content-ptn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    margin-top: -80px;
}

.inner-card-img-small-wipe {
    width: 646px;
    height: 656px;
    border-radius: 12px;
}

.inner-card-img-wapper .card-img-small {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* ***********Testminoal-section *************************/
.Process-section-main {
    padding: 150px 0px;
    background-color: var(--white);
}

.Process-section-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title-process-h2 {
    color: var(--lightblack);
    font-family: "Outfit";
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: 84px;
    text-transform: capitalize;
}

.Process-section-listbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1349px;
    padding-top: 134px;
    padding-left: 9%;
    gap: 30px;
}

.Process-section-firstbox {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    gap: 5%;
}

.img-class-main {
    max-width: 353px;
    height: 391px;
    flex-shrink: 0;
}

.img-class-main .img-curve {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.Process-section-contnent-part {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5%;
}

.number-div {
    width: 86.944px;
    height: 86.944px;
    border-radius: 50%;
    background-color: var(--lightblack);
    display: flex;
    align-items: center;
    justify-content: center;
}

.number-div-1 {
    width: 86.944px;
    height: 86.944px;
    border-radius: 50%;
    padding: 5%;
    background-color: #fffdfa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number-div .number-div-p1 {
    color: var(--white);
    font-family: "Outfit";
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.number-div-1 .number-div-p1 {
    color: var(--black);
    font-family: "Outfit";
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.vertical-line {
    width: 2px;
    /* Thickness of the line */
    height: 330px;
    background-color: black;
    /* Color of the line */
}

.number-wrapper-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Process-section-chart-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.chart-box-title {
    color: var(--lightblack);
    font-family: "Outfit";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.Process-section-chart-box p {
    color: var(--lightgrey);
    font-family: "Manrope";
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%;
}

/* *************Our-client************** */
.Our-client-process {
    padding: 3% 0px;
    background-color: var(--lightgreen);
}

.Our-client-process-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.client-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4%;
}

.client-h2 {
    color: var(--lightblack);
    font-family: "Outfit";
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    width: 500px;
    text-transform: capitalize;
}

.client-icon-ptn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.clutch-ptn {
    display: flex;
    align-items: center;
    gap: 20px;
}

.client-card-ptn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 56px;
}

.our-card-first {
    display: flex;
    max-width: 450px;
    width: 100%;
    height: 420px;
    padding: 30px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 16px;
    background: var(--white);
}

.our-card-first p {
    color: var(--lightblack);
    font-family: "Manrope";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
}

.client-avatr-ptn {
    display: flex;
    gap: 20px;
    align-items: center;
}

.ellispe {
    width: 64px;
    height: 64px;
}

.process-text-ptn h4 {
    color: var(--lightblack);
    font-family: "Outfit";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.process-text-ptn span {
    color: var(--lightblack);
    font-family: "Manrope";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.7;
}

/* ************Our-team******************************** */

.Our-team-Section-main {
    background-color: var(--white);
    padding: 5% 0px;
}

.team-content-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.team-text {
    color: var(--lightblack);
    text-align: center;
    font-family: "Outfit";
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    text-transform: capitalize;
}

.team-content-heading p {
    color: var(--lightblack);
    text-align: center;
    font-family: "Manrope";
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
    opacity: 0.7;
}

.Our-team-card-wrapper {
    padding-top: 5%;
    display: flex;
    gap: 20px;
}

.Our-team-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 513px;
}

.Our-team-img-ptn {
    max-width: 513px;
    border-radius: 16px;
    position: relative;
    padding-top: 58.5%;
}

.Our-team-img-ptn .img-team {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team-card-ptn {
    max-width: 513px;
}

.img-team {
    width: 100%;
    border-radius: 16px;
}

.team-content-ptn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.team-link {
    color: var(blue);
    font-family: "Manrope";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.team-content-data-ptn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.team-content-data-ptn h3 {
    color: var(--lightblack);
    font-family: "Outfit";
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.team-passage {
    color: var(--lightblack);
    font-family: "Manrope";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
}

.Our-team-section-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 27px;
}

/* *************CTAletter************ */
.CTA-section-main {
    /* padding-bottom: 7%;     */
    padding: 80px 0;
    background: var(--lightblack);
    overflow: hidden;
}

.CTA-section-inner-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.CTA-left-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 3px;
    width: 901px;
}

.CTA-text {
    position: relative;
    display: inline;
}

.CTA-text::after {
    content: "";
    display: inline-block;
    aspect-ratio: 1;
    width: 65px;
    height: 65px;
    background-image: url(./images/image\ 1015.png);
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 10px;
}

.CTA-text {
    color: var(--white);
    font-family: "Outfit";
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    text-transform: capitalize;
    display: inline;
}

.cta-letter-passage {
    color: var(--lightgrey);
    font-family: "Manrope";
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
}

.CTA-right {
    width: 681px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.news-letter-rigth-img {
    width: 100%;
    object-fit: cover;
    position: relative;
}

.right-div {
    position: absolute;
    flex: 1;
}

/* ***********Footer-section****************** */
.footer-main {
    padding: 4% 0px;
    background-color: var(--white);
}

.footer-inner-padding {
    display: flex;
    flex-direction: column;
}

.footer-logo-ptn {
    width: 199px;
    height: 60px;
}

.footer-main-CTA {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px;
    border-bottom: 1px solid rgb(68 89 100 / 20%);
}

.footer-left-part {
    display: flex;
    width: 610px;
    align-items: flex-start;
    gap: 32px 80px;
}

.footer-ul-part .footer-li a {
    color: var(--lightblack);
    font-family: "Outfit";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.8;
}

.footer-ul-part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.right-footer-text {
    color: var(--lightblack);
    font-family: "Outfit";
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.footer-right-div {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    display: flex;
}

.footer-input-ptn {
    display: inline-flex;
    width: 606px;
    height: 88.5px;
    padding: 16px 16px 16px 24px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 350px;
    background: var(#f6fafb);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.input-footer {
    color: var(--lightblack);
    flex: 1 0 0;
    border: none;
    font-family: "Manrope";
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
    outline: none;
}

.footer-bottom-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 50px;
}

.footer-bottom-passage {
    color: var(--lightblack);
    font-family: "Manrope";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-line-content {
    display: flex;
    align-items: flex-end;
    gap: 32px;
}

.footer-line-content p {
    color: var(--lightblack);
    font-family: "Manrope";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* ***********About-page************ */

h1,
.title_h1 {
    color: var(--lightblack);
    font-family: "Outfit";
    font-size: 120px;
    font-style: normal;
    font-weight: 500;
    line-height: 138px;
    text-transform: capitalize;
}

h2,
.title_h2 {
    color: var(--lightblack);
    font-family: "Manrope";
    font-size: 80px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
}

h3,
.title_h3 {
    color: var(--lightblack);
    font-family: "Outfit";
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    text-transform: capitalize;
}

h4,
.title_h4 {
    color: var(--lightblack);
    font-family: "Outfit";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

p {
    color: var(--lightblack);
    font-family: "Manrope";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
}

.twenty_four_p p {
    font-size: 24px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.About-page {
    background-color: var(--lightgreen);
    padding: 4%;
    position: relative;
    padding: 289px 0;
}

.about-page-left-section {
    width: 965px;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.about-page-inner-paddding {
    display: flex;
}

.about-page-left-section .title_h1 {
    color: #838383;
}

.about-page-left-section .twenty_four_p {
    opacity: 0.7;
    max-width: 785px;
}

.about-page-rigth-section {
    width: 948.611px;
    flex-shrink: 0;
}

/* ****************About-page-content-section**************** */
.content-section {
    padding: 4% 0px;
    background-color: var(--white);
}

.about-page-content-left-section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    width: 48.8%;
}

.about-page-first-images {
    display: flex;
    justify-content: flex-start;
    width: 514px;
    height: 514px;

}

.about-page-content-wrapper-section {
    gap: 84px;
    max-width: 1550px;
    margin: 0px auto;
    align-items: center;
}

.about-page-second-image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 410px;
    position: relative;

}

.group_team {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.laptop {
    width: auto;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    align-self: flex-end;
}

.about-page-content-right-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex: 1;
}

.about-page-content-right-section h3 {
    display: inline;
    width: 710px;
}

.about-page-passage {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.traced {
    display: inline;
    vertical-align: middle;
}

.about-page-passage p {
    line-height: 36px;
    opacity: 0.7;
}

/* ****************Industries-section********************** */
.Industries-section {
    background-color: var(--lightgreen);
}

.Industries-section-wrapper {
    gap: 249px;
}

.Industries-section-left-section {
    padding-top: 270px;
    display: flex;
    flex-direction: column;
    row-gap: 36px;
    width: 781px;
}

.Industries-section-left-section p {
    font-size: 40px;
    line-height: 56px;
    width: 100%;
    opacity: 0.7;
}

.Industries-section-right-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.industries-first-button {
    display: flex;
    padding: 20px 30px;
    align-items: center;
    gap: 16px;
    border-radius: 50px;
    background: rgba(23, 23, 23, 0.05)
}

.industries-first-button .twenty_four_p {
    padding-left: 36px;
    position: relative;
    white-space: nowrap;
}

.industries-first-button .twenty_four_p::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.industries-first-button:nth-child(1) .twenty_four_p::before {
    background-color: #CBC2FF;
}

.industries-first-button:nth-child(2) .twenty_four_p::before {
    background-color: #A6EFFF;
}

.industries-first-button:nth-child(3) .twenty_four_p::before {
    background-color: #A8FFD0;

}


.industries-first-button:nth-child(4) .twenty_four_p::before {
    background-color: #FFFCA8;
}

.industries-first-button:nth-child(5) .twenty_four_p::before {
    background-color: #FFC7A8;
}

.industries-first-button:nth-child(6) .twenty_four_p::before {
    background-color: #FFB2A8;
}

.industries-first-button:nth-child(7) .twenty_four_p::before {
    background-color: #A8FFD0;
}

.industries-first-button:nth-child(8) .twenty_four_p::before {
    background-color: #60FFF5;
}

/* ************Increment-section*************** */

.Increment-section-inner-wrapper {
    display: flex;
    margin: 0px auto;
    max-width: 1324px;
    padding: 254px 0 46px;
    align-items: center;

}

.increment-section-first-content {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    padding-right: 118px;
    margin-right: 138px;
    border-right: 1px solid rgb(23 23 23 / 30%);
    text-align: center;
}

.increment-section-first-content .twenty_four_p {
    text-align: center;
}

.increment-section-first-content:nth-of-type(3) {
    padding-right: 0px;
    margin-right: 0px;
    border-right: 0px;
}

/* *********************Our-mission********************** */
.our-mission {
    background-color: #F6F4FC;
    padding: 120px 0px;
}

.our-mission-inner-padding {
    width: 1319px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 22px;
}

.our-mission-inner-padding .twenty_four_p {
    font-size: 24px;
}

/* ***********************Current-hiring************************* */
.current-hiring {
    padding-top: 160px;
}

.hiring-wrapper-class {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 45px 32px;
    padding-top: 57px;
}

.hiring-card-ptn {
    flex: 0 1 calc(50% - 22.5px);
    border-radius: 16px;
}

.inner-card-content {
    display: flex;
    background-color: var(--lightgreen);
    width: 100%;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 42px;
}
.hiring-content-ptn{
    width: 100%;
}
.typo-content-first{
    gap:16px;
    align-items: center;
}
.hiring-watch-time{
    gap: 8px;
    align-items: center;
    border-right: 1px solid rgb(23 23 23 / 10%);
    padding-right: 16px;
}
.hiring-watch-time .watch{
    width: 24px;
    height: 24px;
    
}
.hiring-watch-time p{
    opacity: 0.9;
}
.hiring-year{
    opacity: 0.9;
}